# =========================
# Environment & Secrets
# =========================
.env
.env.*
myenv/
venv/
.venv/

# =========================
# Python artifacts
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================
# Logs
# =========================
*.log

# =========================
# Node.js artifacts
# =========================
node_modules/
dist/

# =========================
# Java / JVM artifacts
# =========================
*.class
*.jar
*.war

# =========================
# Maven
# =========================
target/
dist/

# =========================
# Test & Coverage reports
# =========================
TEST*.xml
.coverage
htmlcov/

# ==============
